<template>
    <div class="container">
        <Spin v-if="success" />
        <h1 class="mb-5 mt-3">Starliner / Маршруты поездов</h1>
        <div class="callout success">
            <form autocomplete="off">
                <div class="grid-container full">
                    <div class="grid-x align-spaced">
                        <div class="grid-container full">
                            <div class="grid-y">
                                <div class="row mb-3">
                                    <div class="col-6">
                                        <label for="from" class="d-block">Номер поезда
                                            <input type="text" placeholder="Номер поезда" class="form-control" v-model="fields.train" id="train">
                                            <span>например(016А)</span>
                                        </label>
                                        <div class="alert alert-danger p-0 pl-3" v-if="errors && errors.train">
                                            {{errors.train[0]}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-6">
                                        <label for="to" class="d-block">Станция отправления
                                            <input type="text" class="form-control"  placeholder="Станция отправления" v-model="fields.from" id="from">
                                            <span>например(020У (Из Москвы).)</span>
                                        </label>
                                        <div class="alert alert-danger p-0 pl-3" v-if="errors && errors.from">
                                            {{errors.from[0]}}
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <label for="to" class="d-block">Станция прибытия
                                            <input type="text" class="form-control"  placeholder="Станция прибытия" v-model="fields.to" id="to">
                                            <span>например(019У 037А (Из Питера))</span>
                                        </label>
                                        <div class="alert alert-danger p-0 pl-3" v-if="errors && errors.to">
                                            {{errors.to[0]}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-container full">
                            <div class="grid-y">
                                <div class="row mb-3">
                                    <div class="col-6 ">
                                        <label for="day" class="d-block">Дата отбытия
                                            <input type="number" class="form-control"  placeholder="Дата отбытия" v-model="fields.day" id="day">
                                            <span>например(08)</span>
                                        </label>
                                        <div class="alert alert-danger p-0 pl-3" v-if="errors && errors.day">
                                            {{errors.day[0]}}
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <label for="month" class="d-block">Месяц отъезда
                                            <input type="number" class="form-control" placeholder="Месяц отъезда" v-model="fields.month" id="month">
                                            <span>например(05)</span>
                                        </label>
                                        <div class="alert alert-danger p-0 pl-3" v-if="errors && errors.month">
                                            {{errors.month[0]}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row" v-if="wrong_data">
                                    <div class="col-12 d-flex justify-content-end">
                                        <p class="text-danger mb-0" >Неправильные данные</p>
                                    </div>
                                </div>
                                <div class="row d-flex justify-content-end mr-0 ml-0 mt-3">
                                    <button type="submit" class="button success send_request border-0" @click.prevent="send_request">Отправить !</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="container" v-if="trains_routes.length">
            <p><strong>Маршруты поездов</strong></p>
            <div class="row d-flex justify-content-end">
                <div class="form-group col-3 mb-3">
                    <input class="form-control" type="text" placeholder="Поиск по имени" v-model="search"/>
                </div>
            </div>
            <div class="v-table__header">
                <p class="d-flex justify-content-between w-100">
                    <strong>Стоп</strong>
                    <strong>Время прибытия</strong>
                    <strong>Время отправления</strong>
                    <strong>Конец время</strong>
                </p>
            </div>
            <div class="v-table__body">
                <div class="v-table__rows d-flex justify-content-between" v-for="(route, index) in filteredList" :key="index">
                    <p>{{route.stop}}</p>
                    <p>{{(route.arrival_time=='')?'-':route.arrival_time}}</p>
                    <p>{{(route.departure_time=='')?'-':route.departure_time}}</p>
                    <p>{{(route.stop_time=='')?'-':route.stop_time}}</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Spin from './../components/Spin'
    export default {
        data(){
            return {
                errors : {},
                fields : {},
                success : false,
                wrong_data : false,
                trains_routes: [],
                search:''
            }
        },
        components:{
            Spin
        },
        methods:{
            send_request(){
                var self = this;
                self.success=true;
                self.wrong_data = false;
                this.trains_routes = [];
                self.errors = {}
                axios.post('/api/v1/train-routes', self.fields)
                    .then(response => {
                        self.success=false
                        console.log(response.data.response);
                        if(response.status === 200){
                            self.trains_routes=response.data.response
                        }else{
                            self.wrong_data = true
                        }
                }).catch(function (error) {
                    self.success=false
                    if(error.request.status==422){
                        self.errors = error.response.data.errors;
                    }else{
                        self.wrong_data = true
                    }
                });
            }
        },
        computed:{
            filteredList() {
                return this.trains_routes.filter(route => {
                    return route.stop.toLowerCase().includes(this.search.toLowerCase())
                })
            },
        }
    }
</script>

<style scoped>
    .send_request{
        padding: 5px 15px;
    }
    button.button.success.send_request.border-0:focus,
    button.button.success.send_request.border-0:active {
        background-color: #bdd0e4;
    }
    .v-table__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        border-bottom: 1px solid black
    }
    .v-table__header p {
        text-align: left;
        background: #ececec;
        padding: 10px;
    }
    .v-table__comments_pagination span {
        border: 1px solid grey;
        padding: 2px 7px;
        cursor: pointer;
        margin-left: 1px;
    }

    .v-table__rows {
        align-items: center;
        flex-direction: row;
        border-bottom: 1px solid #e8e8e8;
        padding-left: 10px;
    }

    .v-table__rows p:first-child {
        flex-basis: 10%
    }

    .v-table__rows p {
        text-align: left;
        flex-basis: 10.5%;
        margin: 2px 0;
    }
    .v-table__body {
        padding-top: 15px;
    }
    span {
        color: #b2d2e2;
    }
</style>
