<template>
    <footer>
        <p class="copy-right">Copyright 2021</p>
    </footer>
</template>

<script>
	export default {

	}
</script>

<style scoped>
    footer{
        width: 100%;
        background: #000000;
        position: absolute;
        bottom: 0;
    }
    .copy-right{
        display: flex;
        justify-content: center;
        padding: 20px 0;
        color: #ffffff;
        margin: 0;
    }
</style>
